$primary: #fe003f; //red

// Commons

body {
	color: #222;
	background: #fff;
}

h1 {
	font-size: 4rem;
	line-height: 1;
	margin: 0;
	/* color: #ff8300;
		color: #560c84; */
	font-weight: 900;
}

h2 {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	font-size: 5rem;
	font-weight: 900;
	padding: 0 0.5em;

	span {
		color: $primary;
	}
}

p {
	font-size: 1.2rem;
	line-height: 1.5;
	font-weight: 300;
}

.align-right {
	text-align: right;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 5rem;
	}

	h2 {
		font-size: 3rem;
		padding: 0 0.1em;
	}

	p {
		font-size: inherit;
	}
}

//home

.knowhow,
.toolkit {
	// margin: 5em auto;
	// max-width: 70vw;
	// @media only screen and (max-width: 600px) {
	// 	margin: 1em 0;
	// }
	p span {
		padding: 0 5px;
		line-height: 1.1;
		background: $primary;
		display: inline-block;
		color: #fff;
	}
}

// .content {
// 	max-width: 70vw;
// 	margin: 0 auto;
// 	// column-count: 2;
// 	// column-gap: 10vw;
// 	font-weight: 300;

// 	@media only screen and (max-width: 600px) {
// 		column-count: 1;
// 		max-width: 90vw;
// 	}

// }

.imgWrapper {
	// background: $primary;
	// margin: 0 auto;
	// padding: 5vw 10vw;
	// @media only screen and (max-width: 600px) {
	// 	padding: 5vw 3vw;
	// }

	// img {
	// 	margin: 0 auto;
	// }
}
