$primary: #fe003f; //red

// Commons

body {
	color: #222;
	background: #fff;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 4rem;
	margin: 0;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -5px;
	line-height: 0.9;
}

h2 {
	// font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
	// 	Helvetica Neue, sans-serif;
	font-size: 4rem;
	letter-spacing: -3px;
	font-weight: 300;
	padding: 0;

	span {
		color: $primary;
	}
}

p {
	font-size: 1rem;
	line-height: 1.4;
	font-weight: 300;
}

.align-right {
	text-align: right;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 5rem;
	}

	h2 {
		font-size: 3rem;
		padding: 0;
	}

	p {
		font-size: 1.1rem;
	}

	.cycle {
		display: none;
	}
}

//home

.knowhow,
.toolkit {
	p {
		column-count: 2;
		column-gap: 4em;
		@media only screen and (max-width: 600px) {
			column-count: auto;
		}
	}
	p span {
		font-family: 'Oswald';
		// padding: 0 5px;
		// line-height: 1.1;
		// background: $primary;
		display: inline-block;
		font-weight: 400;
		// color: #fff;
	}
}
